<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>IT Worker | responsive portfolio template</title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100%7CRoboto:400,700,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Bootstrap and Font Awesome css -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- Custom stylesheet - for your changes -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- owl carousel css -->

    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- CSS Animations -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">


    <!-- Mordernizr -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <!-- Responsivity for older IE -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
<![endif]-->
</head>

<body data-spy="scroll" data-target="#navigation" data-offset="120">

    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Điện Thoại</a>
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a>
                    </li>
                    <li><a href="contac.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->


    <div id="all">
        <div id="content" class="jumbotron">
            <div class="container">

                <div class="section">
                    <!-- breadcumb -->
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a>
                            </li>
                            <li>Search</li>
                            <li class="active">Galaxy S6</li>
                        </ul>
                    </div>
                    <!-- end breadcumb -->

                    <!-- sidebar-->
                    <div class="col-md-3">
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <center><h2 class="panel-title">Lọc Kết quả</h2></center>
                            </div>
                            
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu">
                                    <li class="active">
                                        <a href="category.html">Địa chỉ nơi bán <span class="badge pull-right">63</span></a>
                                        <ul>
                                            <li>Tất cả</li>
                                            <li>Hà Nội</li>
                                            <li>TP.Hồ Chí Minh</li>
                                            <li>Hải Phòng</li>
                                            <li>Đà Nẵng</li>
                                            <li>Biên Hòa</a></li>
                                            <li>Bình Dương</a>
                                            </li>
                                        </ul>
                                        <div class="loadmore"><a href="#">Xem thêm</a></div>
                                    </li>
                                    <hr>

                                    <li>
                                        <a href="category.html">giá tiền <span class="badge pull-right">63</span></a>
                                        <ul>
                                            <li>Tất cả</li>
                                            <li>dưới 1 triệu</li>
                                            <li>từ 1 triệu - 5 triệu</li>
                                            <li>từ 5 triệu - 10 triệu</li>
                                            <li>trên 10 triệu</li>
                                        </ul>
                                    </li>
                
                                </ul>

                            </div>
                        </div>

                        <div class="media">
                            <a href="#">
                                <img src="img/smartphone/galaxy-note-5.png" alt="sales 2014" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <!--end sidebar -->

                    <!-- content -->
                    <div class="col-md-9">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" value="Galaxy S6" name="keyword">
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i> Search</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="box">
                            <div class="row">
                            
                                <div class="col-md-4">
                                    <img src="img/smartphone/s6-edge.jpg" class="img-responsive" alt="image"><br>
                                    <center><button class="btn btn-primary">Chọn so sánh</button></center>
                                </div>
                                <div class="col-md-1">    
                                    <br><br>
                                    <p><strong>450$</strong></p>
                                    <em>3</em>
                                    nơi bán
                                    <!-- </div> -->
                                </div>
                                <div class="col-md-7">
                                    <div class="box">
                                        <h4>Samsung Galaxy S6 Edge</h4>
                                        <hr>
                                        <div class="box">
                                            rating
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <hr>

                            <div class="row">
                            
                                <div class="col-md-4">
                                    <img src="img/smartphone/s6-edge.jpg" class="img-responsive" alt="image"><br>
                                    <center><button class="btn btn-primary">Chọn so sánh</button></center>
                                </div>
                                <div class="col-md-1">    
                                    <br><br>
                                    <p><strong>450$</strong></p>
                                    <em>3</em>
                                    nơi bán
                                    <!-- </div> -->
                                </div>
                                <div class="col-md-7">
                                    <div class="box">
                                        <h4>Samsung Galaxy S6 Edge</h4>
                                        <hr>
                                        <div class="box">
                                            rating
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <hr>

                            <div class="row">
                            
                                <div class="col-md-4">
                                    <img src="img/smartphone/s6-edge.jpg" class="img-responsive" alt="image"><br>
                                    <center><button class="btn btn-primary">Chọn so sánh</button></center>
                                </div>
                                <div class="col-md-1">    
                                    <br><br>
                                    <p><strong>450$</strong></p>
                                    <em>3</em>
                                    nơi bán
                                    <!-- </div> -->
                                </div>
                                <div class="col-md-7">
                                    <div class="box">
                                        <h4>Samsung Galaxy S6 Edge</h4>
                                        <hr>
                                        <div class="box">
                                            rating
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <hr>

                            

                            <div class="pages">
                                <center>
                                    <ul class="pagination">
                                        <li><a href="#">&laquo;</a>
                                        </li>
                                        <li class="active"><a href="#">1</a>
                                        </li>
                                        <li><a href="#">2</a>
                                        </li>
                                        <li><a href="#">3</a>
                                        </li>
                                        <li><a href="#">4</a>
                                        </li>
                                        <li><a href="#">5</a>
                                        </li>
                                        <li><a href="#">&raquo;</a>
                                        </li>
                                    </ul>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- end content -->
        <!-- footer -->

        <div class="section" id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-sm-6">

                        <p class="social">
                            <a href="#" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                    <!-- /.6 -->

                    <div class="col-sm-6">
                        <p>&copy; 2015 Natural language processing group, UET</p>
                    </div>

                    <div class="col-sm-12">
                        <p class="template-bootstrapious">Template by Hoàng Nhung
                        </p>
                    </div>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- end footer -->
    </div>
    <!-- /#all -->

    <!-- #### JAVASCRIPT FILES ### -->

    <!-- js base -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- for demo purpose -->
    <script src="js/jquery.cookie.js"></script>

    <!-- waypoints for scroll spy -->
    <script src="js/waypoints.min.js"></script>

    <!-- maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="js/gmaps.js"></script>

    <!-- masonry layout -->
    <script src="js/masonry.pkgd.min.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>


    <!-- jQuery scroll to -->
    <script src="js/jquery.scrollTo.min.js"></script>

    <!-- jQuery counter -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- jQuery parallax -->
    <script src="js/jquery.parallax-1.1.3.js"></script>

    <!-- main js file -->

    <script src="js/front.js"></script>

    



</body>

</html>